.*
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.tlog/CL.command.1.tlog
*.tlog
*.obj
*.DLL
*.exe
*.pdb
/DLL/CPP_DLL/x64/Release
/DLL/CPP_DLL/x64/Debug/Clipper2_64.lib
/DLL/CPP_DLL/x64/Debug/vc143.pdb
*.txt
*.log
*.idb
*.ilk
*.exp
/DLL/CPP_DLL/x64/Debug/clipper.engine.obj
/DLL/CPP_DLL/x64/Debug/clipper.offset.obj
/DLL/CPP_DLL/x64/Debug/clipper.rectclip.obj
*.recipe
/DLL/CPP_DLL/x64/Debug/Clipper2_64.exp
/DLL/CPP_DLL/x64/Debug/Clipper2_64.ilk
/DLL/CPP_DLL/x64/Debug/Clipper2_64.pdb
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.log
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.tlog
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.vcxproj.FileListAbsolute.txt
/DLL/CPP_DLL/x64/Debug/dllmain.obj
/DLL/CPP_DLL/x64/Debug/pch.obj
/DLL/CPP_DLL/x64/Debug/vc143.idb
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.tlog/Cl.items.tlog
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.tlog/CL.read.1.tlog
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.tlog/CL.write.1.tlog
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.tlog/link.command.1.tlog
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.tlog/link.read.1.tlog
/DLL/CPP_DLL/x64/Debug/Clipper2_Export.tlog/link.write.1.tlog
/DLL/CPP_DLL/dataFile
